<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="theme.css">
    <meta charset="UTF-8">
    <title>It's Clobberin' Time!</title>
</head>
<body>
<center></center>
{{#user}}
What up, {{name}}!<form action="/logout" method="post" style="display: inline-block;">
    <button type="submit">Logout</button>
</form>
<br>
{{/user}}

<h2>Gets to Clobberin'</h2>

<form action="/pick-punch" method="post">
    <input type="text" name="punchname" placeholder="Who u gonna put the smack down on?"/>
    <select name="punchstyle">
        <option value="Donkey Punch">Donkey Punch</option>
        <option value="Throat Punch">Throat Punch</option>
        <option value="Sucka Punch">Sucka Punch</option>
        <option value="One-Inch Punch">One-Inch Punch</option>
    </select>
    <input type="text" name="punchcomment"placeholder="Why?"/>
    <button type="submit">Bring the Pain!</button>
</form>
<br>
<h3>The PUNCH List:</h3>

<ol>
    {{#punchlist}}
    <li>
        <strong>You have selected {{punchname}}</strong> to be taken out by a {{punchstyle}}. The reason - {{punchcomment}}
        <form action="/edit-punch" type="post" style="display: inline-block;">
            <input type="hidden" name="id"/>
            <button type="submit">Modify Punch Post</button></form>

        <form action="/delete-punch" method="post" style="display: inline-block;">
            <input type="hidden" name="id"/>
            <button type="submit">Get rid of the evidence.</button></form>
    </li>
    {{/punchlist}}
</ol>
</center>
</body>
</html>