<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>It's Clobberin' Time!</title>
</head>
<body>

What up: {{username}}

<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>


<h3>Gets to Clobberin'</h3>


<form action="/pick-punch" method="post">
    <input type="text" name="punchname" placeholder="Who u gonna put the smack down on?"/>
    <select name="punchstyle">
        <option value="Donkey Punch">Donkey Punch</option>
        <option value="Throat Punch">Throat Punch</option>
        <option value="Sucka Punch">Sucka Punch</option>
        <option value="One-Inch Punch">One-Inch Punch</option>
    </select>
    <input type="text" name="punchcomment"placeholder="Why?"/>
    <button type="submit">Bring the Pain!</button>
</form>
<br>
<h3>The PUNCH List:</h3>

<ol>
    {{#punchlist}}
    <li>
        <strong>{{punchname}}</strong> - {{punchstyle}} - {{punchcomment}}
    </li>
    {{/punchlist}}
</ol>
</body>
</html>