<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>It's Clobberin' Time!</title>
</head>
<h3>CRUD Punch</h3>
<body>
&nbsp;
Create a Punch Account Today!
<div align="left"> <form action="/create-user" method="post">
    <input type="text" name="username" placeholder="Create username:">
    <input type="password" name="userpassword" placeholder="Create password:">
    <button type="submit"><strong>Create Account</strong></button>
</form>
</div>

<div align="right">Already have an account?</div>
<div style align="right"> <form action="/login" type="post">
    <input type="text" name="username"  placeholder="Enter your username:">
    <input type ="password" name="userpassword" placeholder="Enter your password:"/>
    <button type="submit"><strong>Login</strong></button>
</form></div>






</body>
</html>