<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="theme.css">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<h1><center>Welcome to CRUD Punch</center></h1>
<body>
<center>
<form action="/login" method ="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Go to the Punch List!</button>
</form>
</center>
</body>
</html>