<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="theme.css">
    <meta charset="UTF-8">
    <title>Update Punch</title>
</head>
<body>
<center>
<h3>Make it happen.</h3>

<form action="/update-punch" method="post">
    <input type="text" name="newpunchname" placeholder="Who/What is getting punched?"/>
    <select name="newpunchstyle">
        <option value="Donkey Punch">Donkey Punch</option>
        <option value="Throat Punch">Throat Punch</option>
        <option value="Sucka Punch">Sucka Punch</option>
        <option value="One-Inch Punch">One-Inch Punch</option>
    </select>
    <input type="text" name="newpunchcomment"placeholder="Why?"/>
    <button type="submit">Bring the Pain!</button>
</form>

<br>
</center>
</body>
</html>