<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Punch List</title>
</head>
<body>

{{#username}}
What's up, {{.}}!<br>
<div align="right"style="border:3px black">
<form action="/logout" method="post" style="display: inline-block;">
    <button type="submit"><strong>Logout</strong></button>
</form>
    </div>
<br>
<br>

<form action="/create-comment" method="post">
    <input type="text" name="comment" placeholder="Write your message:">
    <input type="hidden" name="replyId" value="{{replyId}}">
    <button type="submit">Submit</button>
</form>
<br>
{{/username}}
{{^username}}
<form action ="/login" method="post">
    <input type="text" name="username" placeholder="Enter your name:"/>
    <button type="submit">Login</button>

</form>
{{/username}}

{{#comment}}
<h1>{{author}} : {{text}}</h1>
{{#isMe}}
<form action="/delete-comment" method="post">
    <input type="hidden" name="id" value="{{id}}">
    <button type="submit">Delete Comment</button>
</form>
{{/isMe}}
{{/comment}}

{{#messages}}
<a href="/?replyId={{id}}">{{author}}: {{text}}</a><br>
{{/comments}}

</body>
</html>